<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>The Map</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li><a href="/"><i class="ion-home"></i></a></li>
                    <li class="active">Map</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="divided-70"></div>
<div class="container">
    <div class="row">
        <img class="img-responsive" src="~/images/12-5-15-map.png" title="map" />
    </div>
</div>
<div class="divided-70"></div>
<div class="cta-dark padding-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>See the map on playrust.io</h2>
            </div>
            <div class="col-sm-4">
                <a target="_blank" href="http://map.playrust.io/?Procedural%20Map_4000_1994786#TLS%20Gaming%20%7C%20Wipe%2012%2F4%7C%20NoDecay%20%7C%20Active%20Admins" class="btn btn-white btn-lg btn-radius">
                    View
                </a>
            </div>
        </div>
    </div>
</div>