<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>The Rules</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li><a href="/"><i class="ion-home"></i></a></li>
                    <li class="active">Rules</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="divided-70"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2 class="center-heading">Rules</h2>
            <span class="center-line"></span>
            <p>
                Check back soon to see a list of rules!
            </p>
        </div>
    </div>
</div>